# Flutter/Dart/Pub related
.dart_tool/
.packages
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
.melos_tool/
.idea/
.vscode/
*.iml

# Android/iOS
android/.gradle/
ios/Flutter/.symlinks/
ios/Pods/
*.xcworkspace
*.lock

# Others
*.log
